@import url('https://fonts.googleapis.com/css?family=Bad+Script|Jura:600|Russo+One|Fira+Sans+Extra+Condensed:400,400i,700');

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,input,button,label,
textarea,select,p,blockquote,th,td,header,footer,section,
ul,li,img,figure {
	margin: 0;
	padding: 0;
	border: 0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset {
	border:0;
}
address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var {
	font: inherit;
}
del, ins {
	text-decoration: none;
}
caption,
th {
	text-align: left;
}
q:before,
q:after {
	content: '';
}
abbr,
acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: baseline;
}
sub {
	vertical-align: baseline;
}
legend {
	color: #000;
}
li {
	list-style: none;
}
.body {
	min-height: 100vh;
	margin: 0;
	padding: 0 10px;
	background-color: rgb(201, 201, 201);
}

@media all and (max-width: 400px) {
	.body {
		padding: 0 5px;
	}
}
.body__item {
	flex: 0 0 auto;
	max-width: 100%;
	background-color: rgb(255, 255, 255);
}
.body__item_main {
	flex: 1 0 100px;
	padding: 10px 10px;
}

@media all and (max-width: 400px) {
	.body__item_main {
		padding: 10px 0;
	}
}
.body__item_right {

}
.body__wrapper {
	min-width: 300px;
	max-width: 1400px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
}

html {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: rgb(0, 0, 0);
	<bound method Font.htm of {u'size_micro': u'16', u'l_spacing': '', u'name': u'standard', u'family': u'Fira Sans Extra Condensed', u'i': False, u'weight': 400, u'size_milli': u'18', u'height': None, u'color': u'dark', u'family_alt': u'sans-serif', u'w_spacing': '', u'shadow': '', u'size_centi': u'22', u'size_nano': '', u'size': u'24'}>
}

@media all and (max-width: 820px ) 	{ 
	html { 
		
	}
}
@media all and (max-width: 770px ) 	{ 
	html { 
		
	}
}

h1,h2,h3,h4,h5,h6,h1>a,h2>a,h3>a,h4>a,h5>a,h6>a { 
	color: rgb(0, 69, 102); }
	font-weight: 400; font-size: 1.0rem;
}
h1, h1>a {
	font-weight: 700; font-size: 1.4rem;
}
h2, h2>a {
	font-weight: 700; font-size: 1.2rem;
}
h3, h3>a { 
	font-weight: 700; font-size: 1.1rem;
}
.image {
    padding: 0.4rem;
    margin: 0;
}

@media all and (max-width: 400px) {
	.image {
		padding: 0;
	}
}
.link-image {
    text-align: center;
    margin: 8px;
    border: 1px solid rgb(107, 126, 81);
}
.link-image:hover {
	border: 1px solid rgb(0, 58, 86);
	box-shadow: 3px 3px 5px 6px rgb(0, 58, 86);
}
.link-image_noborder {
    border: none;
}
.link-image:hover {
	border: none;
	box-shadow: none;
}


.nav-sub {
    position: fixed;
    right: 10px;
    top: 30%;
    z-index: 100; 

    margin: 1.0rem 0 2.0rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background: rgb(0, 58, 86);
    background: linear-gradient(0deg, rgb(0, 105, 152), rgb(0, 58, 86));
}
.xxxxxxxx_active {
    width: auto;
}
.xxxxxxxx .xxxxxxxx_a {
    display: none;
    padding: 0.9rem 1.5rem;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    color: rgb(255, 255, 255);
    border-left: 5px hidden rgb(0, 58, 86);

    font-family: 'Jura', sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
}
.xxxxxxxx_active .xxxxxxxx_a {
    display: block;
}
.xxxxxxxx_a:hover {
    background-color: #256f6f;
    color: rgb(0, 58, 86);
}
.xxxxxxxx_active .xxxxxxxx_a_active,
.xxxxxxxx_active .xxxxxxxx_a_active:hover {
    background-color: rgb(201, 201, 201);
    color: rgb(0, 58, 86);       
    box-shadow: 3px 3px 5px 6px rgb(0, 58, 86);
    cursor: default;
    text-decoration: none;
}






.nav-sub__button {
    margin-left: -30px;
    width: 30px;
    height: 50px;
    background-color: #38a6a6;
    color: #fff;
    border: none;
    line-height: 30px;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.nav-sub__button:hover {
    margin-left: -50px;
    width: 50px;
}

@media only screen and (max-width: 500px) {
    .nav-sub__button {
        margin-left: -15px;
        width: 15px;
    }
    .nav-sub__button:hover {
        margin-left: -20px;
        width: 20px;
    }
}

.xxxxxxxx_active button {
    background-color: #256f6f;
}

.nav-sub__button span {
    display: block;
    -webkit-transition: all 2.0s ease;
    -moz-transition: all 2.0s ease;
    transition: all 2.0s ease;
}
.xxxxxxxx_active button span {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.text {
	font-weight: 400; font-size: 1.0rem;
	padding-bottom: 0.4rem;
}
.text > * {
	padding-bottom: 0.6rem;
}
.text_b {
	font-weight: 700; 
}
.text_center {
    text-align: center;
}

.text_center > * {
    text-align: center;
}
.text_funny {
	font-family: "Bad Script", "sans-serif";
	font-size: 0.8rem;
}
.text_i {
	font-weight: 400; 
}
.text_justify, .text_justify > * {
    text-align: justify;
}
.text_latex {
	
}
.text_right {
	text-align: right;
}


/* WGTS */


.content {
	padding: 15px 30px;
} 
@media all and (max-width: 900px) {
.content {
	padding: 10px 20px;
} } 

@media all and (max-width: 550px) {
.content {
	padding: 7px 12px;
} } 

.header {
	display: flex; 
	flex-wrap: nowrap; 
	justify-content: space-between; 
	align-items: center;
} 
.header {
	border-top-right-radius: 20px; 
	border-top-left-radius: 15px;
} 
.header {
	background-color: rgb(0, 58, 86);
} 
.header__logo {
	align-self: center;
} 
.header__logo {
	margin: 0 0 0 -8px;
} 
.header__logo {
	background-repeat: no-repeat;           background-image: url("./../static/pictures/icons/icon_logo.png"); 
	background-size: 160px 120px; 
	min-width: 160px; 
	min-height: 120px;
} 
@media all and (max-width: 1100px) {
.header__logo {
	margin: 0 0 0 -7px;
} } 

@media all and (max-width: 1100px) {
.header__logo {
	background-size: 128px 96px; 
	min-width: 128px; 
	min-height: 96px;
} } 

@media all and (max-width: 900px) {
.header__logo {
	margin: 0 0 0 -6px;
} } 

@media all and (max-width: 900px) {
.header__logo {
	background-size: 102px 77px; 
	min-width: 102px; 
	min-height: 77px;
} } 

@media all and (max-width: 700px) {
.header__logo {
	margin: 0 0 0 -5px;
} } 

@media all and (max-width: 700px) {
.header__logo {
	background-size: 82px 61px; 
	min-width: 82px; 
	min-height: 61px;
} } 

@media all and (max-width: 550px) {
.header__logo {
	margin: 0 0 0 -4px;
} } 

@media all and (max-width: 550px) {
.header__logo {
	background-size: 46px 34px; 
	min-width: 46px; 
	min-height: 34px;
} } 

.header__title {
	padding: 10px;
} 
.header__title {
	font-family: "Russo One", "sans-serif"; 
	font-size: 36px; 
	text-shadow: none;
} 
.header__title {
	color: rgb(255, 255, 255);
} 
@media all and (max-width: 1100px) {
.header__title {
	font-size: 28px;
} } 

@media all and (max-width: 900px) {
.header__title {
	font-size: 22px;
} } 

@media all and (max-width: 700px) {
.header__title {
	font-size: 17px;
} } 

@media all and (max-width: 550px) {
.header__title {
	font-size: 16px;
} } 

.header__lang {
	align-self: flex-start;
} 
.header__lang {
	margin: 30px 30px auto 20px;
} 
.header__lang {
	font-family: "Jura", "sans-serif"; 
	font-weight: 600; 
	font-size: 22px; 
	color: rgb(255, 255, 255); 
	text-shadow: none;
} 
.header__lang {
	background-repeat: no-repeat;           background-image: url("./../static/pictures/icon_lang_eng.gif"); 
	background-size: 45px 30px; 
	min-width: 45px; 
	min-height: 30px;
} 
.header__lang:hover {
	box-shadow: 1px 1px 2px 5px rgb(201, 201, 201);
} 
.header__lang {
	box-shadow: 1px 1px 2px 3px rgb(255, 255, 255);
} 
@media all and (max-width: 1100px) {
.header__lang {
	margin: 20px 10px 10px 10px;
} } 

@media all and (max-width: 1100px) {
.header__lang {
	font-size: 20px;
} } 

@media all and (max-width: 1100px) {
.header__lang {
	background-size: 30px 20px; 
	min-width: 30px; 
	min-height: 20px;
} } 

@media all and (max-width: 900px) {
.header__lang {
	margin: 20px 7px 10px 5px;
} } 

@media all and (max-width: 900px) {
.header__lang {
	font-size: 16px;
} } 

@media all and (max-width: 900px) {
.header__lang {
	background-size: 21px 14px; 
	min-width: 21px; 
	min-height: 14px;
} } 

.nav {
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	justify-content: space-around;
} 
.nav {
	background-color: rgb(107, 126, 81);
} 
@media all and (max-width: 700px) {
.nav {
	flex-direction: column;
} } 

@media all and (max-width: 700px) {
.nav {
	padding: 10px 10px 0 10px;
} } 

.nav__link {
	padding: 16px; 
	flex-grow: 1; flex-shrink: 0; flex-basis: 10%;
} 
.nav__link {
	font-family: "Jura", "sans-serif"; 
	font-weight: 600; 
	font-size: 22px; 
	color: rgb(255, 255, 255); 
	text-shadow: none;
} 
.nav__link {
	border-width: 0; 
	border-style: solid; 
	border-top-color: rgba(255,255,255,0.3); 
	border-bottom-color: rgba(0,0,0,0.1);
} 
.nav__link:hover {
	text-decoration: underline; 
	background-color: rgb(0, 69, 102);
} 
.nav__link {
	text-decoration: none; 
	text-align: center; 
	color: rgb(255, 255, 255);
} 
@media all and (max-width: 1100px) {
.nav__link {
	padding: 10px;
} } 

@media all and (max-width: 1100px) {
.nav__link {
	font-size: 20px;
} } 

@media all and (max-width: 900px) {
.nav__link {
	padding: 5px;
} } 

@media all and (max-width: 900px) {
.nav__link {
	font-size: 16px;
} } 

@media all and (max-width: 700px) {
.nav__link {
	padding: 10px 2px; 
	margin: 0 0 10px 0;
} } 

@media all and (max-width: 700px) {
.nav__link {
	border-width: 1px 0;
} } 

@media all and (max-width: 700px) {
.nav__link:hover {
	background-color: rgb(0, 105, 152);
} } 

.nav__link_current:hover {
	text-decoration: underline; 
	cursor: default; 
	color: rgb(201, 201, 201); 
	background-color: rgb(107, 126, 81);
} 
.nav__link_current {
	text-decoration: underline; 
	cursor: default; 
	color: rgb(201, 201, 201); 
	background-color: rgb(107, 126, 81);
} 
.title3d {
	display: inline-block;
} 
.title3d {
	padding: 0 40px 0 100px; 
	margin: 40px auto 50px 0;
} 
.title3d {
	font-family: "Fira Sans Extra Condensed", "sans-serif"; 
	font-weight: 700; 
	font-size: 28px; 
	color: rgb(0, 0, 0); 
	text-shadow: none;
} 
.title3d {
	box-shadow: 5px 5px 7px 9px rgb(0, 58, 86);
} 
.title3d {
	color: rgb(0, 58, 86); 
	background-color: rgb(201, 201, 201);
} 
@media all and (max-width: 1100px) {
.title3d {
	font-size: 26px;
} } 

@media all and (max-width: 900px) {
.title3d {
	padding: 0 30px 0 80px;
} } 

@media all and (max-width: 900px) {
.title3d {
	font-size: 20px;
} } 

@media all and (max-width: 700px) {
.title3d {
	display: flex; 
	justify-content: space-around;
} } 

@media all and (max-width: 700px) {
.title3d {
	padding: 0 25px 0 60px;
} } 

@media all and (max-width: 700px) {
.title3d {
	font-size: 18px;
} } 

@media all and (max-width: 550px) {
.title3d {
	padding: 0 20px 0 50px;
} } 

.h1 {
	font-family: "Fira Sans Extra Condensed", "sans-serif"; 
	font-weight: 700; 
	font-size: 28px; 
	color: rgb(0, 0, 0); 
	text-shadow: none;
} 
.h1 {
	color: rgb(0, 58, 86);
} 
@media all and (max-width: 1100px) {
.h1 {
	font-size: 26px;
} } 

@media all and (max-width: 900px) {
.h1 {
	font-size: 20px;
} } 

@media all and (max-width: 700px) {
.h1 {
	font-size: 18px;
} } 

.h2 {
	padding: 20px 0px 2px 15px;
} 
.h2 {
	font-family: "Fira Sans Extra Condensed", "sans-serif"; 
	font-weight: 400; 
	font-size: 27px; 
	color: rgb(0, 0, 0); 
	text-shadow: none;
} 
.h2 {
	color: rgb(0, 58, 86);
} 
@media all and (max-width: 1100px) {
.h2 {
	font-size: 25px;
} } 

@media all and (max-width: 900px) {
.h2 {
	font-size: 19px;
} } 

@media all and (max-width: 700px) {
.h2 {
	font-size: 17px;
} } 

.h3 {
	font-family: "Fira Sans Extra Condensed", "sans-serif"; 
	font-weight: 700; 
	font-size: 24px; 
	color: rgb(0, 0, 0); 
	text-shadow: none;
} 
.h3 {
	color: rgb(0, 58, 86);
} 
@media all and (max-width: 1100px) {
.h3 {
	font-size: 22px;
} } 

@media all and (max-width: 900px) {
.h3 {
	font-size: 18px;
} } 

@media all and (max-width: 700px) {
.h3 {
	font-size: 16px;
} } 

.figure {
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	align-content: center;
} 
.figure {
	padding: 5px;
} 
@media all and (max-width: 900px) {
.figure {
	flex-wrap: wrap;
} } 

@media all and (max-width: 700px) {
.figure {
	justify-content: center;
} } 

@media all and (max-width: 700px) {
.figure {
	padding: 0;
} } 

.figure_column {
	display: flex; 
	flex-direction: column; 
	justify-content: space-between; 
	align-items: flex-start; 
	align-content: flex-start;
} 
.figure__image {
	align-self: flex-start;
} 
.figure__image {
	padding: 5px 0 0 0; 
	margin: 5px;
} 
@media all and (max-width: 900px) {
.figure__image {
	margin: 5px 5px 25px 5px;
} } 

@media all and (max-width: 550px) {
.figure__image {
	padding: 0;
} } 

.figure__text {
	margin: 0 0 0 20px;
} 
@media all and (max-width: 700px) {
.figure__text {
	margin: 5px;
} } 

.gallery {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: space-around;
} 
.gallery {
	padding: 5px;
} 
.gallery__image {
	padding: 5px; 
	margin: 10px;
} 
@media all and (max-width: 700px) {
.gallery__image {
	margin: 5px;
} } 

.aside {
	display: flex; 
	flex-direction: column; 
	align-items: flex-start;
} 
.aside {
	padding: 2px; 
	margin: 0 10px 0 50px;
} 
.aside {
	border-width: 6px 0 0 0; 
	border-style: solid; 
	border-top-color: rgb(107, 126, 81); 
	border-right-color: rgb(107, 126, 81); 
	border-bottom-color: rgb(107, 126, 81); 
	border-left-color: rgb(107, 126, 81);
} 
@media all and (max-width: 1100px) {
.aside {
	margin: 0 15px 0 35px;
} } 

@media all and (max-width: 900px) {
.aside {
	margin: 20px;
} } 

.aside__elem_right {
	display: flex; 
	align-self: flex-end;
} 
.link {
	font-family: "Fira Sans Extra Condensed", "sans-serif"; 
	font-weight: 400; 
	font-size: 24px; 
	color: rgb(0, 0, 0); 
	text-shadow: none;
} 
.link:visited {
	text-decoration: underline; 
	color: rgb(0, 0, 0);
} 
.link:hover {
	text-decoration: none; 
	cursor: pointer; 
	color: rgb(0, 0, 0);
} 
.link {
	text-decoration: underline; 
	color: rgb(0, 0, 0);
} 
@media all and (max-width: 1100px) {
.link {
	font-size: 22px;
} } 

@media all and (max-width: 900px) {
.link {
	font-size: 18px;
} } 

@media all and (max-width: 700px) {
.link {
	font-size: 16px;
} } 

.link_pd {
	padding: 5px 5px 5px 15px;
} 
.link_border {
	display: flex; 
	justify-content: center; 
	align-items: center;
} 
.link_border {
	margin: 15px;
} 
.link_border:hover {
	border-width: 2px; 
	border-style: solid; 
	border-top-color: rgb(0, 58, 86); 
	border-right-color: rgb(0, 58, 86); 
	border-bottom-color: rgb(0, 58, 86); 
	border-left-color: rgb(0, 58, 86);
} 
.link_border {
	border-width: 2px; 
	border-style: solid; 
	border-top-color: rgb(107, 126, 81); 
	border-right-color: rgb(107, 126, 81); 
	border-bottom-color: rgb(107, 126, 81); 
	border-left-color: rgb(107, 126, 81);
} 
.link_border:hover {
	box-shadow: 5px 5px 7px 9px rgb(0, 58, 86);
} 
@media all and (max-width: 900px) {
.link_border {
	margin: 10px;
} } 

.link_www {
	background-repeat: no-repeat;           background-image: url("./../static/pictures/icons/icon_www.png"); 
	background-position:   0%   50%; 
	background-size: 24px 24px; 
	padding-left: 28px; 
	min-width: 24px; 
	min-height: 24px;
} 
.link_pdf {
	background-repeat: no-repeat;           background-image: url("./../static/pictures/icons/icon_pdf.png"); 
	background-position:   0%   50%; 
	background-size: 24px 24px; 
	padding-left: 28px; 
	min-width: 24px; 
	min-height: 24px;
} 
.text {
	align-self: center;
} 
.text {
	padding: 10px 0 2px 0; 
	flex-grow: 1; flex-shrink: 0; flex-basis: 30%;
} 
.text {
	font-family: "Fira Sans Extra Condensed", "sans-serif"; 
	font-weight: 400; 
	font-size: 24px; 
	color: rgb(0, 0, 0); 
	text-shadow: none;
} 
.text {
	text-align: justify;
} 
@media all and (max-width: 1100px) {
.text {
	font-size: 22px;
} } 

@media all and (max-width: 900px) {
.text {
	font-size: 18px;
} } 

@media all and (max-width: 700px) {
.text {
	flex-grow: 1; flex-shrink: 0; flex-basis: 400px;
} } 

@media all and (max-width: 700px) {
.text {
	font-size: 16px;
} } 

@media all and (max-width: 550px) {
.text {
	flex-grow: 1; flex-shrink: 0; flex-basis: 250px;
} } 

.text_justify {
	align-self: stretch;
} 
.text_right {
	text-align: right;
} 
.strings {
	align-self: center;
} 
.strings {
	padding: 10px;
} 
.strings {
	font-family: "Fira Sans Extra Condensed", "sans-serif"; 
	font-weight: 400; 
	font-size: 24px; 
	color: rgb(0, 0, 0); 
	text-shadow: none;
} 
.strings {
	text-align: center;
} 
@media all and (max-width: 1100px) {
.strings {
	font-size: 22px;
} } 

@media all and (max-width: 900px) {
.strings {
	font-size: 18px;
} } 

@media all and (max-width: 700px) {
.strings {
	font-size: 16px;
} } 

.footer {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: space-around; 
	align-items: center;
} 
.footer {
	padding: 20px;
} 
.footer {background-image: url("./../static/pictures/abstractnet.jpg"); background-position: 100% 100%; background-size: cover; background-repeat: no-repeat; 
} 
.footer__text {
	margin: 0; 
	flex-grow: 1; flex-shrink: 0; flex-basis: 30%;
} 
.footer__text {
	font-family: "Fira Sans Extra Condensed", "sans-serif"; 
	font-weight: 700; 
	font-size: 22px; 
	line-height: 150%; 
	text-shadow: none;
} 
.footer__text {
	color: rgb(201, 201, 201);
} 
@media all and (max-width: 1100px) {
.footer__text {
	font-size: 20px;
} } 

@media all and (max-width: 900px) {
.footer__text {
	font-size: 18px;
} } 

@media all and (max-width: 700px) {
.footer__text {
	font-size: 16px;
} } 

.footer__imgs {
	display: flex; 
	flex-wrap: nowrap; 
	justify-content: space-around;
} 
.footer__imgs {
	margin: 0;
} 
@media all and (max-width: 900px) {
.footer__imgs {
	flex-grow: 1; flex-shrink: 0; flex-basis: 50%;
} } 

@media all and (max-width: 550px) {
.footer__imgs {
	flex-wrap: wrap;
} } 

.footer__link {
	display: flex;
} 
.footer__link {
	padding: 20px; 
	margin: 20px;
} 
.footer__link:hover {
	box-shadow: 3px 3px 5px 6px rgb(0, 58, 86);
} 
.footer__link:active {
	box-shadow: 3px 3px 5px 6px rgb(0, 58, 86);
} 
.footer__link {
	box-shadow: 5px 5px 7px 9px rgb(0, 58, 86);
} 
@media all and (max-width: 900px) {
.footer__link {
	margin: 15px;
} } 

@media all and (max-width: 700px) {
.footer__link {
	margin: 10px;
} } 

@media all and (max-width: 550px) {
.footer__link {
	justify-content: center;
} } 

@media all and (max-width: 550px) {
.footer__link {
	flex-grow: 1; flex-shrink: 0; flex-basis: 50%;
} } 

.tabs {
	positon: relative;
} 
.tabs {
	padding: 0 20px; 
	margin: 0;
} 
.tabs {
	border-width: 0 0 0 6px; 
	border-style: solid; 
	border-top-color: rgb(107, 126, 81); 
	border-right-color: rgb(107, 126, 81); 
	border-bottom-color: rgb(107, 126, 81); 
	border-left-color: rgb(107, 126, 81);
} 
.tabs {
	background-color: rgb(216, 212, 216);
} 
@media all and (max-width: 700px) {
.tabs {
	padding: 0 10px;
} } 

.tabs__section {
	padding: 10px 0; 
	margin: 5px;
} 
.tabs__navigation {
	padding: 0 0 0 30px; 
	margin: 10px 0 0 -1px; 
	top: -34px;
} 
.tabs__navigation {
	font-family: "Jura", "sans-serif"; 
	font-weight: 600; 
	font-size: 26px; 
	color: rgb(255, 255, 255); 
	text-shadow: none;
} 
@media all and (max-width: 1100px) {
.tabs__navigation {
	font-size: 24px;
} } 

@media all and (max-width: 900px) {
.tabs__navigation {
	padding: 0 0 0 20px;
} } 

@media all and (max-width: 900px) {
.tabs__navigation {
	font-size: 18px;
} } 

@media all and (max-width: 700px) {
.tabs__navigation {
	padding: 0 0 0 10px;
} } 

@media all and (max-width: 700px) {
.tabs__navigation {
	font-size: 16px;
} } 

.tabs__link {
	display: inline-block;
} 
.tabs__link {
	padding: 10px 30px; 
	margin: 0 10px 0 0 ;
} 
.tabs__link {
	border-width: 1px; 
	border-style: solid; 
	border-top-color: rgb(107, 126, 81); 
	border-right-color: rgb(107, 126, 81); 
	border-bottom-color: rgb(107, 126, 81); 
	border-left-color: rgb(107, 126, 81);
} 
.tabs__link {
	text-decoration: none; 
	cursor: pointer; 
	text-align: center; 
	color: rgb(255, 255, 255); 
	background-color: rgb(0, 58, 86);
} 
@media all and (max-width: 1100px) {
.tabs__link {
	padding: 10px 25px;
} } 

@media all and (max-width: 900px) {
.tabs__link {
	padding: 10px 20px;
} } 

@media all and (max-width: 700px) {
.tabs__link {
	padding: 10px 15px;
} } 

@media all and (max-width: 550px) {
.tabs__link {
	padding: 7px 5px;
} } 

.tabs__link_active {
	border-width: 1px; 
	border-style: solid; 
	border-top-color: rgb(107, 126, 81); 
	border-right-color: rgb(107, 126, 81); 
	border-bottom-color: rgb(0, 58, 86); 
	border-left-color: rgb(107, 126, 81);
} 
.tabs__link_active {
	text-decoration: none; 
	cursor: default; 
	text-align: center; 
	color: rgb(201, 201, 201); 
	background-color: rgb(107, 126, 81);
} 
.author {
	color: rgb(107, 126, 81);
} 
.map {
	margin: 0 0 0 30px; 
	flex-grow: 1; flex-shrink: 0; flex-basis: 250px; 
	height: 400px;
} 
.map {
	background-color: rgb(201, 201, 201);
} 
@media all and (max-width: 700px) {
.map {
	max-width: 250px; 
	height: 250px;
} } 

.news_abstract {
	align-self: flex-start;
} 
.news_abstract {
	padding: 0 0 0 10px; 
	margin: 20px 0 2px 20px; 
	flex-grow: 1; flex-shrink: 0; flex-basis: 15%;
} 
.news_abstract {
	border-width: 0 0 0 2px; 
	border-style: solid; 
	border-top-color: rgb(107, 126, 81); 
	border-right-color: rgb(107, 126, 81); 
	border-bottom-color: rgb(107, 126, 81); 
	border-left-color: rgb(107, 126, 81);
} 
@media all and (max-width: 900px) {
.news_abstract {
	border-width: 2px 0 0 0;
} } 

.news__item_abstract {
	padding: 0 0 10px 0;
} 
.news__content_abstract {
	font-family: "Fira Sans Extra Condensed", "sans-serif"; 
	font-weight: 400; 
	font-size: 20px; 
	color: rgb(0, 0, 0); 
	text-shadow: none;
} 
@media all and (max-width: 1100px) {
.news__content_abstract {
	font-size: 18px;
} } 

@media all and (max-width: 900px) {
.news__content_abstract {
	font-size: 14px;
} } 

@media all and (max-width: 700px) {
.news__content_abstract {
	font-size: 12px;
} } 
